
doctype html

html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title API Image Browser
    body
        header
            h1.heading= heading
            nav
                h3.sub-heading= subHeading
                each link in navLinks
                    a(href=`${link}.html`)= link
        each url in urls
            img(src=url)
